/* Generics */

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    line-height: 1.5;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding-top: var(--m);
    padding-bottom: var(--m);


}


/* Utilities */

:root{
    --xs: 5px;
    --s: 10px;
    --m: 20px;
    --l: 30px;
    --xl: 50px;
}


.flex{
    display: flex;
    justify-content: center;
}


/* Block sizes and contain settings */


.xxs{
    height: 25px;
    padding-bottom: 50px;

}
.small{
   width: 25%;
   height: 50px;
   margin: 0;
   text-align: center;
   line-height: 50px;
}
.med{
    width: 40%;
    min-height: 300px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;


}
.large{
    width: 60%;
    min-height:300px;
}

.xlarge{
    width: 100%;
    min-height: 300px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    color: white;
}



h1{
    padding-bottom: 20px;
    font-size: 3rem;
}

.xxlarge{
    width: 100%;
    min-height: 500px;
    text-align: center;
    margin-bottom: 40px;
}

.xxlarge h1{
    font-size: 28px;
}




/* Header */
header{
    background-image: url("../img/jumbo.png");
    background-size: cover;


}


nav{
    width: 70%;
}

.logo, .login{
    width: 15%;
    min-height: var(--xl);
    
}

.logo{
    background-image: url("/img/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

ul{
    list-style-type: none;
}

.nav li{
    display: inline;
}
a{
    text-decoration: none; 
    color: white;
}

.login button{
    background-color: white;
    color: black;  
    border: 1px solid black;
    border-radius: 30px;    
    padding: 10px 20px;  
    margin-top: 5px;   
    margin-bottom: 5px;

}


.mac-download{
    color: white;
    background-color: #8EA1E1;  
    border: 1px solid transparent;
    border-radius: 30px;    
    padding: 10px 20px;  
    margin-top: 5px;   
    margin-bottom: 5px;
}


/* Footer */
footer{
    background-color: #23272A
}




/* Sections relative properties*/

.negative{
    background-color: rgb(246,246,246);
    
}



#smallfooter{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

/* Jumbotron Section */

.xlarge button{
    border-radius: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid transparent;
}

#client-download{
    background-color: #fff; 
    
}

#web-client{
background-color: rgb(35,39,42);
color: white;

}

/* Grey Section Properties */

.wave{
    display: block;
    color:rgb(246,246,246);
}

.wave-rotate{
    rotate: 0.5turn;
    display: block;
    color:rgb(246,246,246);
}


.med h1{
    color: rgb(114,137,218);
    font-size: 2.5rem;
}

.med img{
    width: 25px;
    display: inline-block;
    vertical-align: middle;
}

.xxlarge p{
   margin-left: 200px;
   margin-right: 200px;
}

.med p{
    display: inline-block;
    vertical-align: middle;
    
}


.fa-brands{
    padding-top: 20px;
    padding-right: 10px;
    color: white;
}

.small h4{
    text-align: left;
    color: #8EA1E1;
}


.footer-info li{
    text-align: left;
    line-height: 25px;
}

.large{
    padding-top: 40px;
}

.separator{
    border: 1px solid #8EA1E1;
}


.bottom-separator{
    padding-top: 25px;
    background-color:#23272A;
}

.register{
    color: white;
    background-color: #8EA1E1;  
    border: 1px solid transparent;
    border-radius: 30px;    
    padding: 10px 20px;
}


.med-footer{
    color: white;
}