/* Generics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    background-color: bisque;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding-top: var(--m);
    padding-bottom: var(--m);


}

header{
    background-image: url("../img/jumbo.png");
    background-size: cover;

}

footer{
    background-color: gray;
}
/* Utilities */

:root{
    --xs: 5px;
    --s: 10px;
    --m: 20px;
    --l: 30px;
    --xl: 50px;
}


.flex{
    display: flex;
    justify-content: center;
}


/* Block sizes */


.xxs{
    width: 50px;
    height: 25px;
    background-color: lime;

}
.small{
   width: 25%;
   height: 50px;
   margin: 0;
   text-align: center;
   line-height: 50px;
}
.med{
    width: 40%;
    min-height: 300px;
    background-color: darkolivegreen;
    border: 1px dashed darkblue;


}
.large{
    width: 60%;
    min-height:300px;
    background-color: chocolate;
    border: 1px dashed darkblue;

}

.xlarge{
    width: 100%;
    min-height: 300px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    color: white;
}

h1{
    padding-bottom: 20px;
    font-size: 3rem;
}

.xxlarge{
    width: 100%;
    min-height: 500px;
    background-color:indigo;
    border: 1px dashed yellow;
}


/* Header */

nav{
    width: 70%;
}

.logo, .login{
    width: 15%;
    min-height: var(--xl);
    
}

.logo{
    background-image: url("/img/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
}
a{
    text-decoration: none; 
    color: white;
}

.login button{
    background-color: white;
    color: black;  
    border: 1px solid black;
    border-radius: 30px;    
    padding: 10px 20px;  
    margin-top: 5px;   
    margin-bottom: 5px;

}

/* Sections relative properties*/



.positive{
    background-color: cadetblue;
    
}

.negative{
    background-color: rgb(196, 237, 100);
    
}

.big{
    background-color: indianred;
    
}

#smallfooter{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: turquoise;
}

/* Jumbotron Section */

.xlarge button{
    border-radius: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid transparent;
}

#client-download{
    background-color: #fff; 
    
}

#web-client{
background-color: rgb(35,39,42);
color: white;

}